## {{var.prompt_id}}: {{var.prompt_title}}

{{uat_entry_label}}: `{{var.entry_url}}` ({{uat_role_label}}: `{{var.role}}`, {{uat_account_label}}: `{{var.account_email}}` / `{{var.account_password}}`)

{{uat_navigation_label}}: {{var.navigation_steps}}

{{uat_precondition_label}}: {{var.precondition}}

{{uat_expected_label}}: {{var.expected_behavior}}

{{var.design_ref_block}}

{{uat_prompt_pfs}}

---
